<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/2dfc32c7e6.js" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/navStyle.css') }}">

    <title>   {%block title%}{%endblock%} </title>
  </head>

  <body>

    <nav class="navbar">
      <div class="des">
        <p><i class="fa-solid fa-closed-captioning"></i></span>&nbsp;<h2>SUBMAKERS</h2></p>
      </div>
      <div class="nav">
        
        <a class="link-home" aria-current="page" href="/"><i class="fa-solid fa-house-blank"></i>&nbsp;HOME</a>
        <a class="link-test" href="/test"><i class="fa-solid fa-upload"></i>&nbsp;UPLOAD</a>
        <div class="dropdown">
          <button class="dropbtn"><i class="fa-solid fa-film-simple"></i>&nbsp;VIDEO EDITING</button>
            <div class="dropdown-content">
              <a class="link-v-" href="#">Tool 1</a>
              <a class="link-v-" href="#">Tool 2</a>
              <a class="link-v-" href="#">Tool 3</a>
            </div>

        </div>
        
      </div>
    </nav>
    
    <main>
      {% block main %} 
      <script src="https://kit.fontawesome.com/2dfc32c7e6.js" ></script>
      {% endblock main %}
    </main>
    
  </body>
</html>
