body{
    background: linear-gradient(100deg,#E3DEC1,#B94629);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.des{
    display: flex;flex-direction: row;
    padding: auto;
}
.name{

    margin-bottom: 10px;
}
nav{
    background-color: #db6447;
    height: 70px;
    padding: 10px;
    margin: 10px;
    color: azure;
    display: inline;
    justify-content: center;
    margin-top: 20px;
}

a:active,a:visited,a{
    color: azure;
    font-weight: 900;
}
.link-home,.link-sign-up,.link-test{
    padding: 20px;
}
