body{
    background: linear-gradient(100deg,#E3DEC1,#B94629);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar{
    background: linear-gradient(100deg,#B94629,#ea7153);
    display:flex;
    justify-content: space-between;
}
.des{
    display: flex;flex-direction: row;
    padding: auto;
}
nav{
    background-color: #db6447;
    height: 70px;
    padding: 10px;
    margin: 10px;
    color: azure;
    display: inline;
    justify-content: center;
    margin-top: 20px;
}

a:active,a:visited,a{
    color: azure;
    font-weight: 900;
    text-decoration:none;
}
.link-home,.link-sign-up,.link-test{
    padding: 20px;
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-weight: 900;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #af5d49;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #e9866e;}
