

.form-group,.btn-primary{
    padding: 10px;
    text-align: left;
    font-weight:900  ;
}
.btn-primary{
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px black;
    width: 50%;margin: auto;
    transition: all linear 80ms;
    cursor: pointer;
}
.btn-primary:hover{
    opacity: 0.6;
    transition: 0.1ms;
}
.btn-primary:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }


.brief,.contform{
    background:linear-gradient(120deg,#f6cfaf,#eca164);
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 4px ;
    box-shadow: 7px 7px black;
    color: antiquewhite;
}
.lineone{
    display:flex;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
}
