
.fluid{
    border-radius: 3px;
    width: 20%;

}
.contform{
    background-color: rgb(196, 249, 255);
    text-align: center;
    padding: 10px;
    margin: 5px;
    float: right;

}
.form-group,.btn-primary{
    padding: 10px;
}
.brief{

    text-align: center;
    padding: 10px;
    margin: 5px;
    float: left;
}
.lineone{
    display:flex;
    justify-content: space-around;
    background-color: linear-gradient(110deg,lightblue,rgb(196, 249, 255));
}