{%extends "public/publicTemplate/basePublicTemplate.html"%}

<title>{%block title%} This is Home.{%endblock%}</title>


{%block main%}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/navStyle.css') }}">
<nav class="navbar">
  <div class="fluid">
    <div class="nav">
      <a class="link-home" aria-current="page" href="/">Home</a>
          <a class="link-sign-up" href="/signUp">Sign-Up</a>
          <a class="link-test" href="/test">test</a>
      <!--         <a class="nav-link disabled">Disabled</a> -->
    </div>
  </div>
</nav>
<h1>Welcome to Home.</h1>

{%endblock %}
