{%extends "public/publicTemplate/basePublicTemplate.html"%}

{%block title%}

This is Test.

{%endblock%}

{%block main%}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/text.css') }}">
&nbsp;
&nbsp;
<div class="lineone">
    <div class="contform">
        <form action="/test" method="POST" enctype="multipart/form-data">
            <div class="row LangSelect">
                <label for="language">
                <i class="fa fa-language fa-2x" aria-hidden="true" id = "language" style="font-size: 30px !important;"></i>&nbsp;Choose the language </i></label>
                <br>
                <select name="dropdown" class="dropdownField">
                    <option value="Hindi">Hindi</option>
                    <option value="Spanish">Spanish</option>
                    <option value="English">English</option>
                    <option value="French">French</option>
                </select>
            </div>
            <button type="submit" class="btn-primary">LET'S GO</button> 
        </form>
    </div>
    <script src="{{ url_for('static', filename='/js/fontawesome.js') }}" ></script>
    <script src="https://kit.fontawesome.com/2dfc32c7e6.js" ></script>
</div>
{%endblock %}